@import '../Abstract/variables';
@import '../Abstract/bases';

.header{
    @include display(grid, space-between, center);
    grid-template-columns: 25% 50% 25%;
    height: 56px;
    
    &__logo{
        cursor: pointer;
    }

    &__search-bar{
        @include defaultInput
    }

    &__user-data{
        @include display(flex, flex-end);

        &-name{
            color: $white;
            margin-left: 0.75rem;
        }

        &-image{
            background-image: url('../Images/user-icon.png');
            background-size: cover;
            background-position: center;
            border-radius: 100%;
            height: 32px;
            width: 32px;
        }
  
    }


}