@import '../Abstract/variables';
@import '../Abstract/bases';

.header{
    @include Display(grid, space-between, center);
    grid-template-columns: 25% 50% 25%;
    height: 56px;
    
    &__logo{
        cursor: pointer;
    }

    &__search-bar{
        @include Input();
    }

    .right-items{
        @include Display(flex, flex-end, center)
    }

    &__button-icon{
        @include Icon('menu');
        display: none
    }

    &__user-data{
        @include Display(flex, flex-end);
        padding: 12px;
        border-radius: 8px;
        cursor: pointer;

        &-name{
            color: $white;
            margin-left: 0.75rem;
            user-select: none;
        }

        &-image{
            background-image: url('../Images/user-icon.png');
            background-size: cover;
            background-position: center;
            border-radius: 100%;
            height: 32px;
            transition: 0.3s;
            width: 32px;
        }
  
        &:hover{
            background-color: #FFFFFF14;
        }
    }

}

@media screen and (max-width: 768px){
    .header{
        grid-template-columns: 25% 65% 10%;
    }
    
    .header__user-data{
        display: none;
    }

    #menuBtn{
        display: block;
    }
}

@media screen and (max-width: 450px){
    .header{
        grid-template-columns: 50% 50%;
    }

    .header__search-bar{
        display: none;
    }

    #searchBtn{
        display: block;
    }
}