@import '../Abstract/variables';
@import '../Abstract/bases';

.app{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    margin-top: 40px;

    .nav-menu{
        width: 100%;

        &__title{
            @include Title();
        }

        &__list{
            &__item{
                margin-bottom: 16px;
                opacity: 0.5;

                a{
                    @include Display(flex, flex-start, center);
                    color: $white;
                    text-decoration: none;
                }

                .icon-wrapper{
                    @include Icon('nav'); 
                }

                &-selected{
                    opacity: 1;

                    .icon-wrapper{
                        background-color: #5081FB;
                        &:hover, &:active, &:focus{
                            background-color: #5081FB;   
                        }
                    }
                }
            }
        }
    }      
}

@media screen and (max-width: 768px){
    .app{
        grid-template-columns: 100%;
    }

    .nav-menu{
        display: none;
    }
}