@import './variables';

@mixin Input($marginBottom: 16px, $width: 100%, $height: 56px){
    background-color: #FFFFFF29;
    border: none;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.64);
    font-size: 16px;
    margin-bottom: $marginBottom;
    min-height: $height;
    padding: 16px 14px;
    position: relative;
    width: $width;
    transition: background 0.3s;
    &::placeholder{
        color: rgba(255, 255, 255, 0.65);
    }
    &:hover{
        background-color: #FFFFFF3D;
    }
}

@mixin Icon($iconType){
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin: 0px 8px;
    transition: 0.3s;

    @if $iconType == "menu" {
        background-color: transparent;
        &:hover{background-color: #5081FB14;}
        &:active{background-color: #5081FB29;}
    }

    @else if $iconType == "nav" {
        margin: 0 8px 0 0;
        background-color: #5081FB29;
        &:hover{background-color: #5081FBA3;}
        &:active{background-color: #5081FB;}
    }

    @else if $iconType == "posts" {
        background-color: transparent;
        width: 56px;
        height: 36px;
        &:hover{background-color: #FFFFFF14;}
        &:active{background-color: #FFFFFF29;}
    }
}

@mixin Title($color: $white){
    color: $color;
    font-size: 12px;
    letter-spacing: 6px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

@mixin Button($buttonType){
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    height: 56px;
    transition: 0.3s;
    width: 100%;

    @if $buttonType == "filled" {
        color: #051D3B;
        background-color: #5081FB;
        &:hover{
            background-color: #7BA4FC;
        }
        &:active{
            border: 4px solid #5081FBB8;
        }
        &:focus{
            background-color: #96B9FD;
        }
    }
    
    @else if $buttonType == "outlined" {
        color: #FFFFFF;
        background-color: #5081FB14;
        &:hover{
            background-color: #5081FB29;
        }
        &:active{
            border: 4px solid #5081FB3D;
        }
        &:focus{
            background-color: #5081FB3D;
        }
    }
}

@mixin Display(
        $displayConfig: flex, 
        $justifyConfig: center, 
        $alignConfig: center, 
        $directionConfig: row
    ) {
        display: $displayConfig;
        justify-content: $justifyConfig;
        align-items: $alignConfig;
        flex-direction: $directionConfig;
}
