@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$code-font: 'Roboto Mono', monospace;
$font: 'Inter', sans-serif;
$bg-color: #051D3B;
$menu-color: #5081FB;
$white: #ffffff;
$black: #141414;