@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
html, body, * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #051D3B;
  height: 100vh;
  overflow-x: hidden;
  padding: 2rem;
  width: 100vw;
}

main {
  width: 100%;
}

.main-content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 66% 34%;
      grid-template-columns: 66% 34%;
}

.app {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
  margin-top: 40px;
}

.page-shown {
  display: block;
}

.page-hidden {
  display: none !important;
}

@media screen and (max-width: 450px) {
  body {
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .app, .main-content {
    -ms-grid-columns: 100% !important;
        grid-template-columns: 100% !important;
  }
}

.header {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
  height: 56px;
}

.header__logo {
  cursor: pointer;
}

.header__search-bar {
  background-color: #FFFFFF29;
  border: none;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.64);
  font-size: 16px;
  margin-bottom: 16px;
  min-height: 56px;
  padding: 16px 14px;
  position: relative;
  width: 100%;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.header__search-bar::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.header__search-bar:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.header__search-bar::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.header__search-bar::placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.header__search-bar:hover {
  background-color: #FFFFFF3D;
}

.header .right-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__button-icon {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  margin: 0px 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: transparent;
  display: none;
}

.header__button-icon:hover {
  background-color: #5081FB14;
}

.header__button-icon:active {
  background-color: #5081FB29;
}

.header__user-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.header__user-data-name {
  color: #ffffff;
  margin-left: 0.75rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__user-data-image {
  background-image: url("../Images/user-icon.png");
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  height: 32px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 32px;
}

.header__user-data:hover {
  background-color: #FFFFFF14;
}

@media screen and (max-width: 768px) {
  .header {
    -ms-grid-columns: 25% 65% 10%;
        grid-template-columns: 25% 65% 10%;
  }
  .header__user-data {
    display: none;
  }
  #menuBtn {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .header {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .header__search-bar {
    display: none;
  }
  #searchBtn {
    display: block;
  }
}

.nav-menu {
  position: relative;
  padding: 0;
  width: 100%;
  border-radius: 8px;
}

.nav-menu__title {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 6px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.nav-menu__list__item {
  margin-bottom: 16px;
  opacity: 0.5;
}

.nav-menu__list__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #ffffff;
  text-decoration: none;
}

.nav-menu__list__item .icon-wrapper {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  margin: 0px 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0 8px 0 0;
  background-color: #5081FB29;
}

.nav-menu__list__item .icon-wrapper:hover {
  background-color: #5081FBA3;
}

.nav-menu__list__item .icon-wrapper:active {
  background-color: #5081FB;
}

.nav-menu__list__item-selected {
  opacity: 1;
}

.nav-menu__list__item-selected .icon-wrapper {
  background-color: #5081FB;
}

.nav-menu__list__item-selected .icon-wrapper:hover, .nav-menu__list__item-selected .icon-wrapper:active, .nav-menu__list__item-selected .icon-wrapper:focus {
  background-color: #5081FB;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: absolute;
    right: 0;
    padding: 24px;
    width: 35%;
    top: calc(56px + 2rem + 20px);
    background-color: #2D415B;
    display: none;
  }
  .nav-menu__title {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .nav-menu {
    width: 75%;
  }
  .nav-menu__title {
    display: none;
  }
}

.code-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #D60040;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
}

.code-area__inner {
  background-color: #141414;
  border-radius: 8px;
  padding: 16px;
  height: 100%;
  width: 100%;
}

.code-area__inner__header {
  width: 100%;
  height: 36px;
}

.code-area__inner__code-input {
  background-color: transparent;
  padding-right: 6px;
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  font-size: 16px;
  min-height: 300px;
  width: 100%;
  display: inline-block;
  outline: none;
  white-space: pre-wrap;
  word-break: break-all;
}

.code-area__inner__code-input::-webkit-scrollbar {
  width: 5px;
}

.code-area__inner__code-input::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  border-radius: 10px;
}

.code-area__button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  height: 56px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  color: #FFFFFF;
  background-color: #5081FB14;
  margin-top: 32px;
  margin-bottom: 40px;
}

.code-area__button:hover {
  background-color: #5081FB29;
}

.code-area__button:active {
  border: 4px solid #5081FB3D;
}

.code-area__button:focus {
  background-color: #5081FB3D;
}

@media screen and (max-width: 450px) {
  .code-area {
    padding: 32px;
  }
  .code-area__inner__code-input {
    min-height: 390px;
  }
}

.options-menu {
  margin-left: 32px;
}

.options-menu__project__title {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 6px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.options-menu__project__name {
  background-color: #FFFFFF29;
  border: none;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.64);
  font-size: 16px;
  margin-bottom: 16px;
  min-height: 56px;
  padding: 16px 14px;
  position: relative;
  width: 100%;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.options-menu__project__name::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.options-menu__project__name:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.options-menu__project__name::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.options-menu__project__name::placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.options-menu__project__name:hover {
  background-color: #FFFFFF3D;
}

.options-menu__project__desc {
  background-color: #FFFFFF29;
  border: none;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.64);
  font-size: 16px;
  margin-bottom: 40px;
  min-height: 80px;
  padding: 16px 14px;
  position: relative;
  width: 100%;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  resize: vertical;
}

.options-menu__project__desc::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.options-menu__project__desc:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.options-menu__project__desc::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.options-menu__project__desc::placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.options-menu__project__desc:hover {
  background-color: #FFFFFF3D;
}

.options-menu__custom__title {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 6px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.options-menu__custom .options-menu__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

.options-menu__custom__language {
  background-color: #FFFFFF29;
  border: none;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.64);
  font-size: 16px;
  margin-bottom: 16px;
  min-height: 56px;
  padding: 16px 14px;
  position: relative;
  width: 100%;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.options-menu__custom__language::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.options-menu__custom__language:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.options-menu__custom__language::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.options-menu__custom__language::placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.options-menu__custom__language:hover {
  background-color: #FFFFFF3D;
}

.options-menu__custom__language__option {
  background-color: #2d415a;
  color: rgba(255, 255, 255, 0.64);
}

.options-menu__custom__color {
  width: 100%;
  height: 56px;
  margin-bottom: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.options-menu__custom__color::-webkit-color-swatch-wrapper, .options-menu__custom__color::-webkit-color-swatch {
  border-radius: 8px;
  margin: 0;
  padding: 0;
}

.options-menu #Save-Project-Btn {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  height: 56px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  color: #051D3B;
  background-color: #5081FB;
  margin-bottom: 40px;
}

.options-menu #Save-Project-Btn:hover {
  background-color: #7BA4FC;
}

.options-menu #Save-Project-Btn:active {
  border: 4px solid #5081FBB8;
}

.options-menu #Save-Project-Btn:focus {
  background-color: #96B9FD;
}

.options-menu #Save-Project-Btn:hover {
  background-color: #7BA4FC;
}

@media screen and (max-width: 768px) {
  .options-menu {
    margin: 0;
  }
  .options-menu__project__desc {
    min-height: 200px;
  }
  .options-menu__wrapper {
    -ms-grid-columns: (calc(50% - 12px))[2] !important;
        grid-template-columns: repeat(2, calc(50% - 12px)) !important;
  }
}

@media screen and (max-width: 450px) {
  .options-menu__wrapper {
    -ms-grid-columns: 100% !important;
        grid-template-columns: 100% !important;
  }
}

.community {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-grid-columns: (calc(50% - 0.75rem))[2];
      grid-template-columns: repeat(2, calc(50% - 0.75rem));
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.community .community__card {
  overflow: hidden;
  border-radius: 8px;
  background-color: #00000029;
}

.community .community__card:hover .community__card__information {
  height: 170px;
}

.community .community__card .code-area__inner {
  border-radius: 8px;
  padding: 24px;
  height: 250px;
  background-color: blue;
}

.community .community__card .code-area__inner .code-area__inner__header {
  border-radius: 8px 8px 0 0;
  padding: 12px;
}

.community .community__card .code-area__inner .code-area__inner__code-input {
  overflow: hidden;
  font-size: 11px;
  padding: 12px;
  min-height: 165px;
  max-height: 165px;
  border-radius: 0 0 8px 8px;
}

.community .community__card .community__card__information {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100px;
  padding: 24px;
}

.community .community__card .community__card__information h2 {
  color: white;
  font-size: 21px;
  font-weight: 700;
}

.community .community__card .community__card__information p {
  margin-top: 12px;
  font-size: 16px;
  color: white;
}

.community .community__card .card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-grid-columns: 15% 60% 25%;
      grid-template-columns: 15% 60% 25%;
  margin-top: 24px;
}

.community .community__card .card__bottom .card__bottom__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.community .community__card .card__bottom .card__bottom__icons .card__bottom__icon {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  margin: 0px 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: transparent;
  width: 56px;
  height: 36px;
  margin: 0;
}

.community .community__card .card__bottom .card__bottom__icons .card__bottom__icon:hover {
  background-color: #FFFFFF14;
}

.community .community__card .card__bottom .card__bottom__icons .card__bottom__icon:active {
  background-color: #FFFFFF29;
}

.community .community__card .card__bottom .card__bottom__icons .card__bottom__icon p {
  margin-left: 8px;
}

@media screen and (max-width: 768px) {
  .card__bottom {
    -ms-grid-columns: 10% 90% !important;
        grid-template-columns: 10% 90% !important;
  }
  .community {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

@media screen and (max-width: 450px) {
  .card__bottom {
    -ms-grid-columns: 20% 80% !important;
        grid-template-columns: 20% 80% !important;
  }
}
/*# sourceMappingURL=style.css.map */