@import '../Abstract/mixins';
@import '../Abstract/variables';

.code-area{
    @include Display(flex, center, center, column);
    background-color: #D60040;
    border-radius: 8px;
    padding: 16px;
    width: 100%;

    &__inner{
        background-color: $black;
        border-radius: 8px;
        padding: 16px;
        height: 100%;
        width: 100%;

        &__header{
            width: 100%;
            height: 36px;
        }

        &__code-input{
            background-color: transparent;
            padding-right: 6px;
            font-family: $code-font;
            color: $white;
            font-size: 16px;
            min-height: 300px;
            width: 100%;
            display: inline-block;
            outline: none;

            white-space:pre-wrap;
            word-break:break-all;

            &::-webkit-scrollbar{
                width: 5px;
            }

            &::-webkit-scrollbar-thumb{
                background-color: #aaaaaa;
                border-radius: 10px;
            }
        }
    }

    &__button{
        @include Button('outlined');
        margin-top: 32px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 450px){
    .code-area{
        padding: 32px;
    }

    .code-area__inner__code-input{
        min-height: 390px;
    }
}
