@import '../Abstract/variables';
@import '../Abstract/mixins';


.nav-menu{
    position: relative;
    padding: 0;
    width: 100%;
    border-radius: 8px;

    &__title{
        @include Title();
    }

    &__list{
        &__item{
            margin-bottom: 16px;
            opacity: 0.5;

            a{
                @include Display(flex, flex-start, center);
                color: $white;
                text-decoration: none;
            }

            .icon-wrapper{
                @include Icon('nav'); 
            }

            &-selected{
                opacity: 1;

                .icon-wrapper{
                    background-color: #5081FB;
                    &:hover, &:active, &:focus{
                        background-color: #5081FB;   
                    }
                }
            }
        }
    }
}      


@media screen and (max-width: 768px){
    .nav-menu{
        position: absolute;
        right: 0;
        padding: 24px;
        width: 35%;
        top: calc(56px + 2rem + 20px);
        background-color: #2D415B;
        display: none;

        &__title{
            display: none;
        }
    }
}

@media screen and (max-width: 450px){
    .nav-menu{
        width: 75%;


        &__title{
            display: none;
        }
    }
}